**/.git
**/.gitignore
**/.vscode
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.Python
**/env
**/venv
**/.env
**/.venv
**/.idea
**/.coverage
**/.pytest_cache
**/.tox
**/.eggs
**/*.egg-info
**/*.egg
!.cache/pip
!.cache/models
